body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin: 0 1rem;
}

.nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #e7e7e7;
  text-shadow: 0 0 15px white;
}

main {
  padding-top: 1%;
}

section {
  padding: 4rem 2rem;
  border-bottom: 1px solid #ddd;
}

section h1, section h2 {
  color: #333;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}

.logo {
  padding-left: 1%;
  text-decoration: none;
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(45deg, #d5d5d5, #ffffff, #d5d5d5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 
      1px 1px 1px rgba(255, 255, 255, 0.2), 
      1px 1px 1px rgba(0, 0, 0, 0.2),
      0 0 5px rgba(255, 255, 255, 0.3);
}

.logo span {
  text-shadow: 
    1px 1px 1px rgba(255, 255, 255, 0.2), 
    1px 1px 1px rgba(255, 255, 255, 0.2),
    0 0 5px rgba(255, 255, 255, 0.3);
}

.plainText {
  text-align: justify;
}

.profile {
  width: 120px;
}

img {
  border-radius: 20px;
}

.imgDivsContainer {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
  gap: 3%;
}

.imgDiv {
  display: flex;
  align-items: center;
  text-align: justify;
  width: 100%;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  margin-right: 3%;
  width: 60%;
}
